<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- style css lokal -->
    <link rel="stylesheet" href="sytleLoginAdmin.css">

    <title>Login</title>
</head>

<body>

<!-- MEMBUAT HEADER -->
    <!-- awal box -->
    <div class="box">


        <!-- awal gambar -->
        <div class="gambar">
            <center>
                <img src="/image/loginadmin.png" alt="account">
            </center>
        </div>
        <!-- awal gambar -->


        <!-- awal text -->
        <div class="welcome" style="font-size: larger;">
            Welcome Admin
        </div>
        <!-- akhir text -->


        <!-- input username -->
        <div class="input-buttonUser">
            <input class="input-username" type="text" placeholder="Username">
        </div>
        <!-- akhir input username -->


        <!-- input password -->
        <div class="input-buttonPass">
            <input class="input-password" type="text" placeholder="Password">
        </div>
        <!-- akhir input password -->


        <!-- layer tombol login -->
        <a style="text-decoration: none;" href="#">
            <div class="button-login">
                <!-- teks login -->
                <div>
                    <p class="login-teks" style="text-decoration: none; color: white; font-size: 22px;"> Login </p>
                </div>
                <!-- akhir teks login -->
            </div>
        </a>
        <!-- layer tombol login -->

        </a>
        <!-- akhir layer tombol login -->


        <!-- layer tombol back -->
        <a style="text-decoration: none;" href="/index.html">
            <div class="button-back">
                <!-- teks back -->
                <div>
                    <p class="back-teks" style="text-decoration: none; color: white; font-size: 22px;"> Back </p>
                </div>
                <!-- akhir teks back -->
            </div>
        </a>
        <!-- layer tombol back -->

        </a>
        <!-- akhir layer tombol login -->
    </div>
    <!-- akhir awal box -->
 <!-- AKHIR MEMBUAT HEADER -->





 <!-- AWAL MEMBUAT JUMBOTRON GAMBAR -->
 <div class="container">
     <!-- awal gamabar satu -->
     <div class="gambarsatu">
    
     </div>
     <!-- akhir gambar satu -->
 </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>

</html>